gitpython==3.1.45
neo4j==6.0.3
requests==2.32.5
pyyaml==6.0.3
Pillow==12.0.0
matplotlib==3.10.7
flask==3.1.2
urllib3==2.5.0
SQLAlchemy==2.0.20
psycopg2-binary==2.9.11
PyJWT==2.8.0
flask-cors==4.0.0
openai==1.35.0



